.DS_Store
.classpath
.project
proguard.cfg
default.properties
project.properties
lint.xml
.settings/
bin/
gen/
target/
gradle/
import-summary.txt
local.properties
.gradle
.idea
travelerMoneyHelper/build/
greenDroid/build/
build/
