<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maupu.android.tmh"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="10" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.maupu.android.tmh.core.TmhApplication"
        android:icon="@drawable/tmh_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.GDMainTheme" >

        <!-- Main Activity -->
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewPagerOperationActivity" />
        <activity
            android:name=".ManageCategoryActivity"
            android:noHistory="true" />
        <activity
            android:name=".ManageCurrencyActivity"
            android:noHistory="true" />
        <activity
            android:name=".ManageAccountActivity"
            android:noHistory="true" />
        <activity android:name=".ManageOperationActivity" />
        <activity android:name=".AddOrEditCurrencyActivity" />
        <activity android:name=".AddOrEditCategoryActivity" />
        <activity android:name=".AddOrEditOperationActivity" />
        <activity android:name=".AddOrEditAccountActivity" />
        <activity android:name=".StatsActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".WithdrawalActivity" />
    </application>

</manifest>